---
import { type CollectionEntry, getCollection } from "astro:content";
import BlogPost from "@layouts/BlogPost.astro";
import TocComponent from "@components/common/TocComponent.astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import BlogHeader from "@components/blog/BlogHeader.astro";
export async function getStaticPaths() {
	const posts = await getCollection("blog");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title="Nacos Blog" position="static">
	<BlogHeader align="detail" post={post.body} />
	<div>
		<div class="w-full 2xl:w-[75%] xl:w-[75%] lg:w-[75%] md:w-[75%] inline-block">
			<BlogPost {...post.data}>
				<Content />
			</BlogPost>
		</div>
		<div class="w-[25%] fixed h-full hidden 2xl:inline-block xl:inline-block lg:inline-block md:inline-block">
			<TocComponent content={post.body} />
		</div>
	</div>
</BaseLayout>
