---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '@layouts/BlogPost.astro';
import TocComponent from '@components/TocComponent.astro';
import BaseLayout from '@layouts/BaseLayout.astro';


export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---
<BaseLayout title="Nacos Blog">

<div>
		<div class="w-[75%] inline-block" >
		<BlogPost {...post.data}>
				<Content />
		</BlogPost>
	</div>
		<div class="inline-block w-[25%] fixed  h-full">
		<TocComponent content = {post.body} />
	</div>
</div>
</BaseLayout>
