---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '@layouts/BlogPost.astro';
import TocComponent from '@components/common/TocComponent.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogHeader from "@components/blog/BlogHeader.astro";

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await post.render();
---
<BaseLayout title="Nacos Blog" position="static">

	<BlogHeader />
	<span class="top-header" id=top">返回顶部</span>
	<div>
			<div class="w-[75%] inline-block" >
			<BlogPost {...post.data}>
					<Content />
			</BlogPost>
		</div>
			<div class="inline-block w-[25%] fixed  h-full">
			<TocComponent content = {post.body} />
		</div>
	</div>
</BaseLayout>

<style>
	.top-header{
		clip:rect(0,0,0,0);
		position: fixed;
		top:0;
	}
</style>