---
import type { GetStaticPathsOptions } from "astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";
import { Icon } from "@astrojs/starlight/components";
import BlogPostPreview from "@components/BlogPostPreview.astro";
import BlogHeader from "@components/BlogHeader.astro";
import BlogPoster from "@components/BlogPoster.astro";

interface Post {
    slug: string;
    body: string;
    collection: string;
    data: {
        title: string;
        description: string;
        date: string;
        keywords?: any[];
    };
};

const posts = await getCollection("blog");

const sortedPosts = posts.sort(
    (a,b)=> new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf()
);

const articlePosts = sortedPosts.filter((post) => {
    return post.data.category === "article";
});

const casePosts = sortedPosts.filter((post) => {
    return post.data.category === "case";
});

const ecosystemPosts = sortedPosts.filter((post) => {
    return post.data.category === "ecosystem";
});

const recentPosts = sortedPosts.splice(0, 4);
---

<BaseLayout title="Nacos Blog" position="static">
    <BlogHeader />
    <div class="bg-gray-14">
        <!-- 最新1篇博客展示 -->
        <div class="hero max-h-[30%] bg-gray-13">
            <a href={`/blog/${recentPosts[0].slug}`} rel="prefetch">
                <div class="hero-content flex-col lg:flex-row mx-auto my-10">
                    <div class="flex-1">
                        <h1 class="text-5xl font-bold text-gray-01">
                            {recentPosts[0].data.title}
                        </h1>
                        <p class="py-6 text-gray-01">
                            {recentPosts[0].data.description}
                        </p>
                    </div>
                    <BlogPoster post={recentPosts[0] as any} width="400" />
                </div>
            </a>
        </div>
        <!-- 最近的3篇博客展示 -->
        <div class="flex flex-row items-center gap-2 pr-4 bg-gray-14 pt-10">
            <ul class="flex flex-row mx-auto items-stretch">
                
                {
                    // @ts-ignore
                    recentPosts.slice(1, 4).map((post) => (
                        <>
                            <div class="flex-1 ">
                                
                                <BlogPostPreview
                                    post={post as any}
                                    posterWidth="400"
                                />
                            </div>
                        </>
                    ))
                }
            </ul>
        </div>

        <!-- 按照分类展示 -->

        <div class="bg-gray-14">
            <div
                class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8"
            >
                <div
                    class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:items-stretch"
                >
                    <div class="grid place-content-center rounded p-6 sm:p-8">
                        <div class="mx-auto max-w-md text-center lg:text-left">
                            <header>
                                <h2
                                    class="text-xl font-bold text-gray-01 sm:text-3xl"
                                >
                                    Article
                                </h2>
                                <div class="text-xl text-blue-08 pt-4">
                                    <a href={`/blog/article`}
                                        >查看所有article文章</a
                                    >
                                    <Icon name="right-arrow" />
                                </div>
                            </header>
                        </div>
                    </div>

                    <div class="lg:col-span-3 lg:py-8">
                        <ul class="flex flex-1 flex-row mx-auto items-stretch">
                            {
                                articlePosts.slice(0, 2).map((post) => (
                                    <>
                                        <div class="flex-1 h-auto">
                                            <BlogPostPreview
                                                post={post as any}
                                                posterWidth="400"
                                            />
                                        </div>
                                    </>
                                ))
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-gray-14">
            <div
                class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8"
            >
                <div
                    class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:items-stretch"
                >
                    <div class="grid place-content-center rounded p-6 sm:p-8">
                        <div class="mx-auto max-w-md text-center lg:text-left">
                            <header>
                                <h2
                                    class="text-xl font-bold text-gray-01 sm:text-3xl"
                                >
                                    Ecosystem
                                </h2>
                                <div class="text-xl text-blue-08 pt-4">
                                    <a href={`/blog/ecosystem`}
                                        >查看所有生态文章</a
                                    >
                                    <Icon name="right-arrow" />
                                </div>
                            </header>
                        </div>
                    </div>

                    <div class="lg:col-span-3 lg:py-8">
                        <ul class="flex flex-1 flex-row mx-auto items-stretch">
                            {
                                ecosystemPosts.slice(0, 2).map((post) => (
                                    <>
                                        <div class="flex-1 h-auto">
                                            <BlogPostPreview
                                                post={post as any}
                                                posterWidth="400"
                                            />
                                        </div>
                                    </>
                                ))
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-gray-14">
            <div
                class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8"
            >
                <div
                    class="grid grid-cols-1 gap-4 lg:grid-cols-4 lg:items-stretch"
                >
                    <div class="grid place-content-center rounded p-6 sm:p-8">
                        <div class="mx-auto max-w-md text-center lg:text-left">
                            <header>
                                <h2
                                    class="text-xl font-bold text-gray-01 sm:text-3xl"
                                >
                                    Case
                                </h2>
                                <div class="text-xl text-blue-08 pt-4">
                                    <a href={`/blog/case`}
                                        >查看所有最佳实践文章</a
                                    >
                                    <Icon name="right-arrow" />
                                </div>
                            </header>
                        </div>
                    </div>

                    <div class="lg:col-span-3 lg:py-8">
                        <ul class="flex flex-1 flex-row mx-auto items-stretch">
                            {
                                casePosts.slice(0, 2).map((post) => (
                                    <>
                                        <div class="flex-1 h-auto">
                                            <BlogPostPreview
                                                post={post as any}
                                                posterWidth="400"
                                            />
                                        </div>
                                    </>
                                ))
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="text-center text-xl text-blue-08 py-4">
            <a href={`/blog/all`}>查看所有文章</a>
            <Icon name="right-arrow" />
        </div>
    </div>
</BaseLayout>
<style>
    a {
        text-decoration: none;
        color: inherit;
    }
    main {
        width: 960px;
    }
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    ul li {
        width: calc(50% - 1rem);
    }
    ul li * {
        text-decoration: none;
        transition: 0.2s ease;
    }
    ul li:first-child {
        width: 100%;
        margin-bottom: 1rem;
        text-align: center;
    }
    ul li:first-child img {
        width: 100%;
    }
    ul li:first-child .title {
        font-size: 2.369rem;
    }
    ul li img {
        margin-bottom: 0.5rem;
        border-radius: 12px;
    }
    ul li a {
        display: block;
    }
    .title {
        margin: 0;
        color: rgb(var(--black));
        line-height: 1;
    }
    .date {
        margin: 0;
        color: rgb(var(--gray));
    }
    ul li a:hover h4,
    ul li a:hover .date {
        color: rgb(var(--accent));
    }
    ul a:hover img {
        box-shadow: var(--box-shadow);
    }
    @media (max-width: 720px) {
        ul {
            gap: 0.5em;
        }
        ul li {
            width: 100%;
            text-align: center;
        }
        ul li:first-child {
            margin-bottom: 0;
        }
        ul li:first-child .title {
            font-size: 1.563em;
        }
    }
</style>
