---
import _ from 'lodash';
import Navbar from '@components/common/Navbar.astro';
import LanguageToggle from "@components/common/LanguageToggle.astro";
import MobileNavbar from '@components/common/MobileNavbar.astro';

interface Props {
  align?: "home" | "docs";
  position?: "static" | "sticky";
  lang: "zh-cn" | "en" | string;
}


const { align = "home", position = "sticky", lang } = Astro.props;
const height = align === "home" ? "4rem" : "3.5rem";
const width = align === "home" ? "85.125rem" : "100%";
const xpadding = align === "home" ? "0" : "1.5rem";

---

<header-layout2
  style={`position: ${position}; height: ${height}`}
  class="w-screen top-0 z-[10000] bg-gray-14 flex justify-center"
>
  <!-- 方便控制header宽度 -->
  <div class="header-content flex items-center justify-between">

    <div class="left-content flex">
      <a class="no-underline" href="/">
        <img
          class="logo"
          src="https://img.alicdn.com/imgextra/i4/O1CN01rW3vAB1FDWKSOiFf0_!!6000000000453-2-tps-204-40.png"
          alt="nacos-log"
        />
      </a>
      <MobileNavbar class="mobile-navbar ml-4" />
    </div>

    <div class="center-content h-full">
      <Navbar class='h-full'/>
    </div>

    <div class="right-content">
      <LanguageToggle id="pc-toggle" size="small" lang={Astro.props.lang} />
    </div>

  </div>
  
</header-layout2>



<script>
  class HeaderLayout2 extends HTMLElement {

    constructor() {
        super();
    }

  }
  customElements.define("header-layout2", HeaderLayout2);

</script>

<style define:vars={{ width, height, xpadding }}>
  header-layout2 {
    --header-content-width: var(--width);
    --logo-width: 96px;
    --header-height: var(--height);
    --header-xl-padding: var(--xpadding);
  }

  .header-content {
    width: var(--header-content-width);
    padding-left: var(--header-xl-padding);
    padding-right: var(--header-xl-padding);
  }

  .left-content .logo {
    vertical-align: sub;
    width: var(--logo-width);
  }

  .left-content .mobile-navbar {
    display: none;
  }

  @media (max-width: 40rem) { 
    .header-content {
      width: 100%;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    .left-content .mobile-navbar {
      display: block;
    }
    .center-content {
      display: none;
    }
  }

</style>

