---
import BaseLayout from "@layouts/BaseLayout.astro"
import HomeFooter from "@components/HomeFooter.astro";
import CloudSlider from "@components/CloudSlider.astro";
import CloudPackage from "@components/CloudPackage.astro";

---

<BaseLayout title="Nacos Cloud">
  <CloudPackage />

  <div class="bg-gary-02 px-8 py-28">
    <CloudSlider />
  </div>
  
  <HomeFooter />
</BaseLayout>
