---
import { languages } from "../i18n/languages";
import BaseLayout from "@layouts/BaseLayout.astro"
import { useTranslations } from '../i18n/util';
import HomeIntroduce from "@components/home/HomeIntroduce.astro";
import ChooseReason from "@components/ChooseReason.astro";
import EBookNacos from "@components/EBookNacos.astro";
import HomeFooter from "@components/home/HomeFooter.astro";
import ExploreFeatures from "@components/ExploreFeatures.astro";
import HomeVedioSlider from "@components/home/HomeVedioSlider.astro";
import CompaniesSlider from "@components/CompaniesSlider.astro";


const t = useTranslations(Astro);

---
<BaseLayout title="Nacos">
    <HomeIntroduce />

    <div class="bg-gary-02 px-8 py-28">
        <ChooseReason />
        <EBookNacos />
        <ExploreFeatures />
        <HomeVedioSlider />
        <CompaniesSlider />
    </div>

    <HomeFooter />

</BaseLayout>



