---
import type { Props } from '@astrojs/starlight/props';

console.log('头部 Astro.props: ', Astro.props);

---

<div class="header-inner">
  <img class="logo" src="../../../public/nacos_white.png">
  <div class="nav">
    <span class="menu-item">DOCS</span>
    <span class="menu-item">NACOS CLOUD</span>
    <span class="menu-item">COMMUNITY</span>
    <span class="menu-item">DEMO</span>
  </div>
  <div>LOG IN</div>
</div>

<style>
  .header-inner {
    height: 100%;
    background-color: theme('colors.gray.14');
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo {
    width: 96px;
    vertical-align: sub;
  }
  .nav .menu-item {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 1rem;
    color: theme('colors.gray.06');
    cursor: pointer;
  }
</style>
