---
import { useTranslations } from '@i18n/util';
import Github from '../icon/Github.astro';
import Star from '../icon/Star.astro';
import Fork from '../icon/Fork.astro';
import UpRight from '../icon/UpRight.astro';
import LinkButton from '../common/LinkButton.astro';
import HomeBackground from '../home/HomeBackground.astro';

const t = useTranslations(Astro);

const data = await fetch('https://api.github.com/repos/alibaba/nacos').then(
  (r) => r.json(),
);
const { stargazers_count: startCount = 0, forks_count: forkCount = 0 } =
  data || { stargazers_count: 0, forks_count: 0 };
---

<home-introduce class="introduce flex flex-col justify-center items-center">
  <div class="top-section w-[85.125rem] flex flex-col relative container">
    <HomeBackground />
    <div class="py-6 text-gray-08 text-xs">{t('home.introduce.about')}</div>
    <div class="title text-[5rem] leading-[6rem] text-gray-03 mb-4">
      {t('home.introduce.title')}
    </div>
    <div class="shortcut flex pt-6">
      <LinkButton
        class='rounded-3xl'
        title={t('home.introduce.nacos.code')}
        href="https://github.com/alibaba/nacos"
      >
        <Github />
      </LinkButton>

      <LinkButton
        class='btn-primary rounded-3xl'
        title={t('home.introduce.nacos.manual')}
        arrowTheme="light"
        href="/docs/what-is-nacos"
      />
    </div>
    <span class="notes text-gray-10 text-xs mt-[3.25rem] mb-4"
      >{t('home.introduce.nacos.notes')}</span
    >
  </div>

  <div class="bottom-section w-[85.125rem] flex mb-10 mt-[3.625rem]">
    <div
      class="desc overflow-hidden relative mr-4 rounded-2xl p-6 text-blue-02 text-sm cursor-pointer"
    >
    
      <UpRight classList={["arrow", "absolute", "top-6", "right-6"]} theme="light"/>

      <div class="text opacity-0">
        <div>{t('home.introduce.nacos.define')}</div>
        <div class="mt-4">{t('home.introduce.nacos.aim')}</div>
      </div>
      <div class="text-gray-02 text-xs absolute bottom-6 left-6">
        {t('home.introduce.about')}
      </div>
    </div>

    <div class="log relative rounded-2xl">
      <video
        loop
        muted
        preload="true"
        height="400px"
        width="100%"
        autoplay="autoplay"
        src="/introduce-log.webm"
        class="nacos-log object-cover rounded-2xl cursor-pointer"></video>
      <div class="absolute bottom-[1.875rem] left-[1.75rem]">
        <LinkButton
          href="https://github.com/alibaba/nacos"
          title=""
          class='rounded-lg bg-blue-08 text-gray-02 hover:bg-blue-09 border-none'
          arrowTheme="light"
        >
          <Star />
          <div class="w-px h-full bg-blue-07 opacity-20 mx-2"></div>
          <span>{startCount}</span>
        </LinkButton>

        <LinkButton
          href="https://github.com/alibaba/nacos/fork"
          title=""
          class='fork border-none rounded-lg text-gray-10'
        >
          <Fork />
          <div class="w-px h-full bg-blue-07 opacity-20 mx-2"></div>
          <span>{forkCount}</span>
        </LinkButton>
      </div>
    </div>
  </div>

  <div class="mobile-bottom-section hidden w-full flex py-6">
    <LinkButton
      href="https://github.com/alibaba/nacos"
      title=""
      class='btn-primary'
      arrowTheme="light"
    >
      <Star />
      <div class="w-px h-full bg-blue-07 opacity-20 mx-2"></div>
      <span>{startCount}</span>
    </LinkButton>
    <LinkButton
      href="https://github.com/alibaba/nacos/fork"
      title=""
      arrowTheme="light"
      class='btn-primary'
    >
      <Fork  theme="light"/>
      <div class="w-px h-full bg-blue-07 opacity-20 mx-2"></div>
      <span>{forkCount}</span>
    </LinkButton>
  </div>
</home-introduce>

<script>
  class Introduce extends HTMLElement {
    constructor() {
      super();
    }
  }
  customElements.define('home-introduce', Introduce);
</script>

<style>
  .introduce {
    min-height: calc(100vh - 4rem);
    background-color: theme('colors.gray.14');
  }
  .top-section {
    border-bottom: 1px solid theme('colors.gray.12');
  }
  .top-section .shortcut button {
    height: 3rem;
    min-height: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .bottom-section .nacos-log {
    object-fit: cover;
    transition: transform 0.8s;
  }
  .bottom-section .nacos-log:hover {
    transform: scale(1.1);
  }
  .bottom-section .desc {
    width: 9.75rem;
    height: 25rem;
    background-color: theme('colors.blue.08');
    transition: width 0.8s;
  }
  .bottom-section .desc .text {
    opacity: 0;
    transition: opacity 0.8s;
  }
  .bottom-section .log {
    flex: 1;
    display: flex;
    position: relative;
    overflow: hidden;
    transition: width 0.8s;
  }
  .bottom-section .desc:hover {
    width: 31.25rem;
  }
  .bottom-section .desc:hover .log {
    flex: 1;
  }
  .bottom-section .desc:hover .text {
    opacity: 1;
  }
  .bottom-section .desc:hover .arrow {
    display: none;
  }
  .divider-horizontal {
    width: 1px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  a {
    text-decoration: none;
  }
  .fork {
    background: rgba(244, 244, 246, 0.2);
    backdrop-filter: blur(36px);
  }
  .fork:hover {
    background: rgba(244, 244, 246, 0.2) !important;
    backdrop-filter: blur(36px);
  }

  /* 小于50rem  小于 800px */
  @media (max-width: 50rem) {
    .introduce {
      min-height: 0;
      padding: 1.5rem;
    }
    .top-section,
    .bottom-section {
      width: 100%;
    }
    .top-section .title {
      font-size: 1.875rem;
      line-height: 2.25rem;
    }
    .top-section .shortcut button {
      height: 2rem;
      min-height: 2rem;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }
    .top-section .notes {
      display: block;
    }
    .bottom-section {
      display: none;
    }
    .mobile-bottom-section {
      display: block;
    }
    .mobile-bottom-section .btn:hover {
      background-color: theme(colors.gray.13) !important;
    }
  }

  /* 大于50rem 小于 72rem  800px < width < 1440 */
  @media (min-width: 50rem) and (max-width: 86rem) {
    .introduce {
      padding: 2.5rem;
    }
    .top-section,
    .bottom-section {
      width: 100%;
    }
    .bottom-section .desc div {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
    }
  }

.container {
  position: relative;
  overflow: hidden;
}

</style>
