/* 集成的默认注入的 base.css 文件 */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url('../public/fonts/Roboto-Regular.ttf') format('truetype');
  }
  
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  src: url('../public/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: bold;
  src: url('../public/fonts/Roboto-BoldItalic.ttf') format('truetype');
}


* {
    font-family:'Roboto',sans-serif;
    --sl-font: 'Roboto', sans-serif;
    --sl-font-mono:'Roboto', sans-serif;
}