---

---

<home-ebook class="bg-gray-13 flex h-auto p-9 rounded-2xl mt-28">
  <div class="e-book_introduce flex-1 flex flex-col justify-around pl-24">
    <div>
      <div class="text-blue-02 text-xs tracking-widest">RESOURCES</div>
      <div
        class="text-blue-01 font-medium text-[2.75rem] leading-[3.5rem] mt-6"
      >
        E-Book Nacos
      </div>
    </div>
    <div>
      <button data-download class="btn btn-secondary rounded-3xl"
        >DOWNLOAD</button
      >
    </div>
  </div>
  <div class="e-book flex-1 h-96 rounded-2xl overflow-hidden">
    <img src="/ebook.png" class="absolute left-[30%] top-1/4 w-1/2" />
  </div>
  <img src="/ebook.png" class="e-book_img hidden" />
</home-ebook>

<script>
  class EBookNacos extends HTMLElement {
    constructor() {
      super();
    }
  }
  customElements.define("home-ebook", EBookNacos);
</script>

<style>
  .e-book {
    background: url("/ebook-placeholder.png") no-repeat;
    background-size: 100% 100%;
    background-position: center 0;
    background-attachment: fixed;
    position: relative;
  }

  @media (max-width: 82.5rem) {
    .e-book {
      display: none;
    }
    .e-book_img {
      display: block;
      width: 30%;
    }
  }
  @media (max-width: 52rem) {
    .e-book_introduce {
      padding-left: 0px;
    }
    .e-book_img {
      width: 45%;
    }
  }
</style>
