---
---

<div class="mt-24 flex justify-center flex-col">
  <div class="flex flex-col items-center mb-20">
    <span class="text-gray-10 text-xs mb-6">VIEW ON GITHUB</span>
    <span class="text-gray-14 text-4xl font-medium">Explore Our Features</span>
  </div>
  <div class="flex items-center justify-center">
    <div class="container flex flex-col items-center">
      <div class="w-full flex justify-center flex-wrap">
        <div class="item flex-1 bg-gray-03 rounded-3xl p-6">
          <span class="text-gray-09 text-xs">Dynamic Configuration Service</span>
          <div class="text-gray-15 text-2xl mt-4">
            Manage configurations in all environments in a centralized, externalized, and dynamic approach.
          </div>
          <div class="mt-14 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="200" height="200" viewBox="0 0 200 200"><g><g><ellipse cx="77.17391204833984" cy="122.82608413696289" rx="76.67391204833984" ry="76.67391204833984" fill-opacity="0" stroke-opacity="1" stroke="#162B92" fill="none" stroke-width="1"/></g><g><ellipse cx="83.69565105438232" cy="116.3043441772461" rx="76.67391204833984" ry="76.67391204833984" fill-opacity="0" stroke-opacity="1" stroke="#162B92" fill="none" stroke-width="1"/></g><g><ellipse cx="90.2173900604248" cy="109.78260803222656" rx="76.67391204833984" ry="76.67391204833984" fill-opacity="0" stroke-opacity="1" stroke="#162B92" fill="none" stroke-width="1"/></g><g><ellipse cx="96.73912811279297" cy="103.26086807250977" rx="76.67391204833984" ry="76.67391204833984" fill-opacity="0" stroke-opacity="1" stroke="#162B92" fill="none" stroke-width="1"/></g><g><ellipse cx="103.26086807250977" cy="96.73912811279297" rx="76.67391204833984" ry="76.67391204833984" fill-opacity="0" stroke-opacity="1" stroke="#162B92" fill="none" stroke-width="1"/></g><g><ellipse cx="109.78260803222656" cy="90.2173900604248" rx="76.67391204833984" ry="76.67391204833984" fill-opacity="0" stroke-opacity="1" stroke="#162B92" fill="none" stroke-width="1"/></g><g><ellipse cx="116.3043441772461" cy="83.69565105438232" rx="76.67391204833984" ry="76.67391204833984" fill-opacity="0" stroke-opacity="1" stroke="#162B92" fill="none" stroke-width="1"/></g><g><ellipse cx="122.82608413696289" cy="77.17391204833984" rx="76.67391204833984" ry="76.67391204833984" fill-opacity="0" stroke-opacity="1" stroke="#162B92" fill="none" stroke-width="1"/></g></g></svg>
          </div>
        </div>
        <div class="item flex-1 bg-blue-08 rounded-3xl p-6">
          <span class="text-blue-03 text-xs">Service Discovery and Management</span>
          <div class="text-blue-01 text-2xl mt-4">
            Key to service-centric (for example microservice or cloud-native) architectures.
          </div>
          <div class="mt-14 text-center">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" version="1.1" width="200" height="200" viewBox="0 0 200 200"><defs><clipPath id="master_svg0_3_24"><rect x="0" y="0" width="200" height="200" rx="0"/></clipPath></defs><g clip-path="url(#master_svg0_3_24)"><g><g><g><g><line x1="0.121337890625" y1="99.67515754699707" x2="199.87857055664062" y2="99.67515754699707" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(-0.9805819988250732,0.1961095929145813,-0.1961095929145813,-0.9805819988250732,411.4689752522851,118.96810812643662)"><line x1="199.8446044921875" y1="79.35508918762207" x2="403.55755615234375" y2="79.35508918762207" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(-0.928475558757782,0.37139344215393066,-0.37139344215393066,-0.928475558757782,407.57857465668394,41.28153783774849)"><line x1="199.814208984375" y1="59.38731575012207" x2="414.9595947265625" y2="59.38731575012207" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(-0.8574942350387573,0.5144935846328735,-0.5144935846328735,-0.8574942350387573,391.6494641471156,-28.627330521469275)"><line x1="199.78936767578125" y1="39.42637825012207" x2="432.7439727783203" y2="39.42637825012207" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(-0.7808727622032166,0.6246901154518127,-0.6246901154518127,-0.7808727622032166,368.2359571240496,-89.24338207702942)"><line x1="199.770263671875" y1="19.46275520324707" x2="455.5830383300781" y2="19.46275520324707" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(-0.7071067690849304,0.7071067690849304,-0.7071067690849304,-0.7071067690849304,341.00400179890437,-141.25070492102952)"><line x1="199.7559814453125" y1="-0.5011119842529297" x2="482.25537109375" y2="-0.5011119842529297" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g></g><g><g transform="matrix(0,1,-1,0,99.94980964064598,-99.70684090256691)"><line x1="99.82832527160645" y1="-0.3785156309604645" x2="299.58555793762207" y2="-0.3785156309604645" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(0.1961095929145813,0.9805819988250732,-0.9805819988250732,0.1961095929145813,64.34706852831971,-78.17943261751596)"><line x1="79.8549976348877" y1="-0.3445800840854645" x2="283.56794929504395" y2="-0.3445800840854645" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(0.37139344215393066,0.928475558757782,-0.928475558757782,0.37139344215393066,37.81810191324861,-55.48688575136858)"><line x1="59.887163162231445" y1="-0.3140625059604645" x2="275.03254890441895" y2="-0.3140625059604645" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(0.5144935846328735,0.8574942350387573,-0.8574942350387573,0.5144935846328735,19.56502329665152,-34.134262770197864)"><line x1="39.926225662231445" y1="-0.2894043028354645" x2="272.8808307647705" y2="-0.2894043028354645" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(0.6246901154518127,0.7808727622032166,-0.7808727622032166,0.6246901154518127,7.67174002626866,-15.502118337509733)"><line x1="19.962785720825195" y1="-0.2701171934604645" x2="275.7755603790283" y2="-0.2701171934604645" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g><g transform="matrix(0.7071067690849304,0.7071067690849304,-0.7071067690849304,0.7071067690849304,0.17219404631517143,0.07237271937621692)"><line x1="-0.0012645721435546875" y1="-0.2559570372104645" x2="282.49812507629395" y2="-0.2559570372104645" fill-opacity="0" stroke-opacity="1" stroke="#EDF2FC" fill="none" stroke-width="1"/></g></g></g></g></g></svg>
          </div>
        </div>
      </div>
      <div class="w-full flex justify-center">
        <div class="item w-full bg-gray-14 rounded-3xl p-6">
          <span class="text-gray-03 text-xs">Dynamic DNS Service</span>
          <div class="text-gray-02 text-2xl mt-36">
            You can implement stateless services and achieve on-demand scaling effortlessly.
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
</div>


<style>
  /* 小屏幕临界值 64rem  1024
  手机端临界值 36rem  576px */
  .container {
    width: 60%;
  }
  .item {
    min-width: 24rem;
    margin: 1rem;
  }

</style>