<footer>
  <div class="footer_top_functional">
    <div class="footer_left">
      <p class="footer_left_title">Subscribe for more</p>
      <p class="footer_left_des">By providing an easy-to-use service infrastructure such as dynamic service discovery,
        service
        configuration, service sharing and management and etc.
      </p>
      <input type="text" class="footer_left_email" placeholder="Enter email address…">
      <div class="footer_left_button">
        SUBSCRIBE
      </div>
    </div>
    <div class="footer_right">
      <ul class="footer_right_title">
        <li>DOCUMENTATION</li>
        <li class="footer_right_link">Overview</li>
        <li class="footer_right_link">Quick Start</li>
        <li class="footer_right_link">Developer guide</li>
      </ul>
      <ul class="footer_right_title">
        <li>RESOURCES</li>
        <li class="footer_right_link">Community</li>
        <li class="footer_right_link">CLoud Service MSE </li>
        <li class="footer_right_link">CLoud Service EDAS</li>
      </ul>
    </div>
  </div>
  <hr class="bottom_divider">
  <div class="bottom_watermark">
    Copyright © 2023 Nacos
  </div>
</footer>


<style>
  .footer_top_functional {
    background-color: theme('colors.gray.13');
    text-align: center;
    border-radius: 1rem;
    margin: 1rem 2.5rem 2.5rem 2.5rem;
    display: flex;
  }

  .footer_left {
    margin-left: 2.5rem;
    text-align: left;
  }

  .footer_left_title {
    color: theme('colors.gray.02');
    width: 25.9375rem;
    height: 2.5rem;
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin-top: 2.25rem;
  }

  .footer_left_des {
    color: theme('colors.gray.09');
    width: 42rem;
    height: 3.5625rem;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1.875rem;
  }

  .footer_left_email {
    color: theme('colors.gray.09');
    width: 31.25rem;
    height: 4.5rem;
    border-radius: 1rem;
    opacity: 1;
    background-color: theme('colors.gray.12');
    padding: 1.4375rem 12.3125rem 2.0625rem 2rem;
  }

  .footer_left_button {
    width: 9.6875rem;
    height: 3.375rem;
    border-radius: 1.6875rem;
    opacity: 1;
    background-color: theme('colors.gray.02');
    margin-top: 1.5rem;
    margin-bottom: 11.1875rem;
    color: #121316;
    font-family: Roboto;
    font-size: .75rem;
    font-weight: 500;
    line-height: 1rem;
    letter-spacing: 0em;
    padding: 1.1875rem 2.875rem;
  }

  .footer_right {
    display: flex;
    margin-right: 2.1875rem;
    margin-top: 2.25rem;
    margin-left: 9.625rem;
  }

  .footer_right_title {
    list-style-type: none;
    font-family: Roboto;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1rem;
    letter-spacing: 0.15em;
    font-feature-settings: "kern" on;
    color: theme('colors.gray.10');
  }

  li:first-child {
    margin-bottom: 3.0625rem;
  }

  .footer_right_link {
    text-align: left;
    font-family: Roboto;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0rem;
    margin-bottom: 1rem;
    font-feature-settings: "kern" on;
    color: theme('colors.gray.04');
  }

  .bottom_divider {
    border-top: 1px solid theme('colors.gray.13');
    margin: 0 2.5rem;
  }

  .bottom_watermark {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0em;
    font-feature-settings: "kern" on;
    color: theme('colors.gray.09');
    margin-bottom: 2.75rem;
    margin-top: 2rem;
  }
</style>