---
import { LanguageSelect } from 'virtual:starlight/components';
interface Props {
  // light 白色主题 dark 黑色主题
	theme: 'light' | 'dark';
}

const { theme = 'light' } = Astro.props;
const isDark = theme === 'dark';
const logo = `../../../public/${isDark ? 'nacos_white' : 'nacos_colorful'}.png`;

---

<div class:list={['header-inner', { 'shadow': !isDark, 'bg-gray-14': isDark, 'bg-gray-02': !isDark }]}>
  <a href="/">
    <img class="logo" src={logo} />
  </a>
  
  <div class:list={['nav', { 'text-gray-06': isDark, 'text-gray-12': !isDark }]}>
    <div class="menu-item dropdown dropdown-hover">
      <div class="label">
        <span class="text">DOCS</span>
        <span class:list={['line', { 'bg-gray-06': isDark, 'bg-gray-12': !isDark }]}></span>
      </div>
      <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="./docs/architecture">1.x</a></li>
        <li><a href="./docs/v2/what-is-nacos">2.x</a></li>
      </ul>
    </div>
    <div class="menu-item dropdown dropdown-hover">
      <div class="label">
        <span class="text">NACOS CLOUD</span>
        <span class:list={['line', { 'bg-gray-06': isDark, 'bg-gray-12': !isDark }]}></span>
      </div>
    </div>
    <div class="menu-item dropdown dropdown-hover">
      <div class="label">
        <span class="text">COMMUNITY</span>
        <span class:list={['line', { 'bg-gray-06': isDark, 'bg-gray-12': !isDark }]}></span>
      </div>
    </div>
    <div class="menu-item dropdown dropdown-hover">
      <div class="label">
        <span class="text">DEMO</span>
      </div>
    </div>
  </div>

  <div>
    <slot>
      <!-- <LanguageSelect /> -->
    </slot>
  </div>
</div>

<style>
  .header-inner {
    --logo-width: 96px;
    --header-height: 4rem;
    --header-ml-padding: 1rem;
    --header-xl-padding: 2rem;
  }
  .header-inner {
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    padding-left: var(--header-xl-padding);
    padding-right: var(--header-xl-padding);
    position: sticky;
    top: 0;
    z-index: 10;
  }
  .shadow {
    border: 1px solid theme('colors.gray.02');
    box-shadow: 1px 1px 12px theme('colors.gray.14');
  }
  .logo {
    vertical-align: sub;
    width: var(--logo-width);
  }
  .nav {
    display: flex;
    align-items: center;
    height: 100%;
  }
  .menu-item {
    height: 100%;
  }
  .label {
    height: 100%;
    font-size: 1rem;
    line-height: 1rem;
    cursor: pointer;
    padding-left: var(--header-ml-padding);
  }
  .text {
    margin-right: var(--header-ml-padding);
  }
  .line {
    width: 1px;
    height: 1rem;
    display: inline-block;
  }
</style>