<footer class="bg-gray-14 p-10">
  <div class="footer_top_functional flex bg-gray-13 rounded-2xl text-center lg:flex-row ">
    <div class="footer_left grid grid-cols-1 gap-0 text-left mt-9 ml-10 max-w-2xl">
      <p class="text-gray-02 text-[1.75rem] leading-9 lg:w-[25.9375rem] lg:h-10 ">Subscribe for more</p>
      <p class="text-gray-09 text-[1.125rem] leading-5 lg:w-[42rem] lg:h-[3.5625rem] lg:mt-4 lg:mb-[1.875rem] ">By providing an easy-to-use service infrastructure such as dynamic service
        discovery,service configuration, service sharing and management and etc.
      </p>
      <input type="text" placeholder="Enter email address…"
        class="footer_left_email max-w-[37.5rem] input input-ghost bg-gray-12 block rounded-2xl lg:w-[31.25rem] lg:h-[4.375rem] " />
      <button class="footer_left_button max-w-[9.6875rem] btn bg-gray-02 text-gray-14 rounded-full text-[0.75rem] font-medium block  lg:w-[9.6875rem] lg:h-[3.375rem] lg:mt-6 lg:mb-[11.1875rem] lg:py-[1.1875rem] lg:px-[2.875rem] ">SUBSCRIBE</button>
    </div>
    <div class="footer_right grid grid-cols-2 gap-2 flex text-left mt-9 ml-[9.625rem] ">
      <div >
        <p class="text-gray-10 text-[0.75rem] leading-4 tracking-[.15em] lg:mb-[3.0625rem]">DOCUMENTATION</p>
        <ul class="list-none w-[13.3125rem] h-4 ps-0">
          <li>
            <a href="#" class="text-[.875rem] font-medium leading-5 tracking-normal mb-4 text-gray-04 no-underline"> Overview </a>
          </li>
          <li>
            <a href="#" class="text-[.875rem] font-medium leading-5 tracking-normal mb-4 text-gray-04 no-underline"> Quick Start </a>
          </li>
          <li>
            <a href="#" class="text-[.875rem] font-medium leading-5 tracking-normal mb-4 text-gray-04 no-underline"> Developer guide </a>
          </li>
        </ul>
      </div>
      <div >
        <p class="text-gray-10 text-[0.75rem] leading-4 tracking-[.15em] lg:mb-[3.0625rem] ">RESOURCES</p>
        <ul class="list-none w-[13.3125rem] h-4 ps-0">
          <li>
            <a href="#" class="text-[.875rem] font-medium leading-5 tracking-normal mb-4 text-gray-04 no-underline"> Community </a>
          </li>
          <li>
            <a href="#" class="text-[.875rem] font-medium leading-5 tracking-normal mb-4 text-gray-04 no-underline"> CLoud Service MSE </a>
          </li>
          <li>
            <a href="#" class="text-[.875rem] font-medium leading-5 tracking-normal mb-4 text-gray-04 no-underline"> CLoud Service EDAS </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="divider divider-vertical bg-gray-13 mt-10 mb-0 h-[0.05rem]"></div> 
  <div class="bottom_watermark text-[.875rem] text-gray-09 leading-6 text-center tracking-normal lg:pb-1 lg:pt-8">
    Copyright © 2023 Nacos
  </div>
</footer>

<style>
@media(max-width: 75rem){
  .footer_left p {
      margin: 0rem 0rem 1rem 0rem;
      width: auto;
      height: auto;
    }
    .footer_right {
      margin-left: 0rem !important;
    }
}
  @media (max-width: 68.125rem) {
    .footer_top_functional {
      flex-direction: column;
      /* align-items: center; */
      min-height: 31.25rem;
      padding: 1rem;
      height: auto;
    }

    .footer_left {
      width: 100%;
      margin-left: 0;
      margin-bottom: 1rem;
    }

    .footer_left p {
      margin: 0rem 0rem 1rem 0rem;
      width: auto;
      height: auto;
    }

    .footer_left_email {
      width: auto;
      height: 3rem;
    }

    .footer_left_button {
      margin: 1rem 0rem;
      /* width: 6rem; */
      height: 2rem;
      padding: 0rem;
    }

    .footer_right {
      width: 100%;
      margin: 0rem !important;
      padding-top: 0rem;
    }

    .footer_right>div {
      margin-right: 1rem;
      margin-bottom: 1rem;
      width: 8.25rem;
      height: auto;
    }

    .footer_right p {
      width: 8.25rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
    .footer_right ul{
height: 100%;
    }

    .bottom_watermark {
      margin: 0rem .5rem;
      padding: .5rem 0rem;
    }
  }
</style>