<footer class="bg-gray-14 p-10">
  <div class="flex bg-gray-13 rounded-2xl p-9">
    <div class="footer_left">
      <p class="footer_left_title">Subscribe for more</p>
      <p class="footer_left_des">By providing an easy-to-use service infrastructure such as dynamic service discovery,service configuration, service sharing and management and etc.
      </p>
      <input type="text" placeholder="Enter email address…"
        class="input input-ghost bg-color-gray-12 footer_left_email" />
      <button class="btn color-gray-14 rounded-full footer_left_button">SUBSCRIBE</button>
    </div>
    <div class="footer_right">
      <div>
        <p>DOCUMENTATION</p>
        <ul class="footer_right_title">
          <li>
            <a href="#" class="footer_right_link"> Overview </a>
          </li>
          <li>
            <a href="#" class="footer_right_link"> Quick Start </a>
          </li>
          <li>
            <a href="#" class="footer_right_link"> Developer guide </a>
          </li>
        </ul>
      </div>
      <div>
        <p>RESOURCES</p>
        <ul class="footer_right_title">
          <li>
            <a href="#" class="footer_right_link"> Community </a>
          </li>
          <li>
            <a href="#" class="footer_right_link"> CLoud Service MSE </a>
          </li>
          <li>
            <a href="#" class="footer_right_link"> CLoud Service EDAS </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="divider divider-vertical bg-gray-13 mt-10"></div> 
  <div class="text-gray-09 text-sm text-center">Copyright © 2023 Nacos</div>
</footer>


<style>

  .divider-vertical {
    height: 1px;
  }
  .footer_left {
    margin-left: 2.5rem;
    text-align: left;
  }

  .footer_left_title {
    color: theme('colors.gray.02');
    width: 25.9375rem;
    height: 2.5rem;
    font-size: 1.75rem;
    line-height: 2.25rem;
    margin: 2.25rem 0 0 0;
  }

  .footer_left_des {
    color: theme('colors.gray.09');
    width: 42rem;
    height: 3.5625rem;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1.875rem;
  }

  .footer_left_email {
    display: block;
    width: 500px;
    height: 70px;
    border-radius: 1rem;
  }

  .footer_left_button {
    width: 9.6875rem;
    height: 3.375rem;
    margin: 1.5rem 0rem 11.1875rem 0rem;
    font-size: .75rem;
    font-weight: 500;
    padding: 1.1875rem 2.875rem;
    display: block;
    background-color: theme('colors.gray.02');
  }

  .footer_right {
    display: flex;
    padding-top: 2.25rem;
    margin: 0rem 2.1875rem 0rem 9.625rem;
    text-align: left;
  }

  .footer_right_title {
    list-style-type: none;
    width: 13.3125rem;
    height: 1rem;
    padding-inline-start: 0rem;
  }

  .footer_right p {
    margin-bottom: 3.0625rem;
    font-size: .75rem;
    font-weight: normal;
    line-height: 1rem;
    letter-spacing: 0.15em;
    font-feature-settings: "kern" on;
    color: theme('colors.gray.10');
  }

  .footer_right_link {
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    letter-spacing: 0rem;
    margin-bottom: 1rem;
    font-feature-settings: "kern" on;
    color: theme('colors.gray.04');
    text-decoration: none;
  }

  @media (max-width: 50rem) {
    .footer_top_functional {
      flex-direction: column;
      align-items: center;
      margin: 1rem 1.5rem 1rem 1.5rem;
      min-height: 500px;
      padding: 1rem;
    }

    .footer_left {
      width: 100%;
      margin-left: 0;
      margin-bottom: 1rem;
    }

    .footer_left p {
      margin: 0rem 0rem 1rem 0rem;
      width: auto;
      height: auto;
    }

    .footer_left_email {
      width: auto;
      height: 3rem;
    }

    .footer_left_button {
       margin: 1rem 0rem;
       width: 6rem;
       height: 2rem;
       padding: 0rem;
    }

    .footer_right {
      width: 100%;
      margin: 0;
      padding-top: 0rem;
    }

    .footer_right>div {
      margin-right: 1rem;
      margin-bottom: 1rem;
      width: 8.25rem;
      height: auto;
    }

    .footer_right p {
      width: 8.25rem;
      margin-right: 1rem;
      margin-bottom: 1rem;
    }

    .bottom_watermark {
      margin: 0rem .5rem;
      padding: .5rem 0rem;
    }
  }
</style>