---
---


<div class="introduce hero min-h-screen bg-gray-14">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <img src="../../public/introduce.png" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <!-- <h1 class="text-5xl font-bold">Box Office News!</h1>
      
      <button class="btn btn-primary">Get Started</button> -->
      <p class="py-6 text-gray-08">About Nacos</p>
      <h1 class="text-5xl font-bold text-gray-03">An easy-to-use platform for building cloud native applications</h1>
      <div class="py-6">
        <button class="btn btn-primary">
          VIEW ON GITHUB
        </button>
        <button class="btn btn-primary">
          MANUAL
        </button>
      </div>
    </div>
  </div>
</div>


<style>
  .py-6 {
    font-size: 0.6rem;
  }
</style>