---
  const { imgList } = Astro.props;
---

<div class="slider-container">
  <ul class="slider">
    {imgList.map((imgItem,index) =>
    <li class="slider-item">
      <img src={imgItem} alt={`Image${index}`}>
    </li>)}
  </ul>
  <ul class="slider">
    {imgList.map((imgItem,index) =>
    <li class="slider-item">
      <img src={imgItem} alt={`Image${index}`}>
    </li>)}
  </ul>
</div>
<style>
.slider-container{
  --time:40s
}
  .slider-container {
    position: relative;
    display: flex;
    width: 94%;
    overflow: hidden;
    margin: 0 2.5rem;
    mask-image: linear-gradient(90deg, transparent, theme('colors.gray.01') 20%, theme('colors.gray.01') 80%, transparent);
  }

  .slider  {
    padding: 0px;
    list-style-type: none;
    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.5s;
  }

  .slider-item {
    display: inline-block;
    padding: 20px 10px;
  }

  img {
    max-height: 50px;
    cursor: pointer;
    transition: filter 0.5s;
  }

  .slider-container>.slider {
    white-space: nowrap;
    animation: animate var(--time) linear infinite;
    animation-delay: calc(var(--time) * -1);
  }

  @keyframes animate {
    0% {
      transform: translateX(100%);
    }

    100% {
      transform: translateX(-100%);
    }
  }

  .slider-container>.slider:nth-child(2) {
    animation: animate2 var(--time) linear infinite;
    animation-delay: calc(var(--time) / -2);
  }

  @keyframes animate2 {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-200%);
    }
  }

  .slider-container:hover>.slider {
    animation-play-state: paused;
  }
</style>