---
import { remark } from "remark";
import html from "remark-html";
import { toc } from "mdast-util-toc";

// Props
const { content,isFold} = Astro.props;

// 创建目录
const createTOC = (content) => {
    const mdast = remark().parse(content);
    return toc(mdast);
};

const tableOfContents = createTOC(content);

// @ts-ignore
const tocHtml = remark().use(html).stringify(tableOfContents.map);
---
<nav class="mt-10">
    {!isFold && <h2 class="text-xl">本页内容</h2>}
    {!isFold && <div class="nav prose prose-blogToc pr-10" set:html={tocHtml} />}
    {isFold && <div class="nav prose prose-blogTocfold pr-10" set:html={tocHtml} />}
</nav>
