---
import { remark } from "remark";
import html from "remark-html";
import { toc } from "mdast-util-toc";

// Props
const { content } = Astro.props;

// 创建目录
const createTOC = (content) => {
    const mdast = remark().parse(content);
    return toc(mdast);
};

const tableOfContents = createTOC(content);

// @ts-ignore
const tocHtml = remark().use(html).stringify(tableOfContents.map);

// 正则表达式匹配第一个<a>标签的前缀标签
var regex =  /(<a href=\"[\s\S]*?\">)/;
var result = regex.exec(tocHtml);

// html字符串的第一个a标签的锚点设置为#top
const tHtml = tocHtml.replace(result[0],`<a href="#top">`)

---
<nav class="mt-10">
    <h2 class="text-xl">本页内容</h2>
    <div class="nav prose prose-blogToc pr-10" set:html={tHtml} />
</nav>
