---

import '../style/global.css'
import '../../node_modules/@astrojs/starlight/style/props.css';
import '../../node_modules/@astrojs/starlight/style/shiki.css';
import '../../node_modules/@astrojs/starlight/style/util.css';
import {
	Header,
	PageFrame
} from 'virtual:starlight/components';


export type Props = {
    title: string;
};
const { title } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
		<PageFrame {...Astro.props}>
			<Header slot="header" {...Astro.props} />
			<slot />
		</PageFrame>
    </body>
</html>
