---
import "@starlight/style/props.css";
import "@starlight/style/reset.css";
import "@starlight/style/shiki.css";
import "@starlight/style/util.css";
import "../style/global.css";
import "../style/fonts.css";
import { useTranslations } from "@i18n/util";
import Head from "@components/starlight/Head.astro";
import HomeHeader from "@components/common/Header.astro";
const t = useTranslations(Astro);

export type Props = {
  title: string;
  position?: "static" | "sticky";
};
const { title, position = "sticky" } = Astro.props;
const headEntry = {
  data: {
    description: "",
    keywords: "Nacos",
    title: "Nacos 官网",
    head: []
  }
}
---

<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="referrer" content="no-referrer" />
    <Head lang="en" entry={headEntry}  />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <HomeHeader align="home" position={position} />
    <slot />
  </body>
</html>



<style>

</style>
