---
import '@starlight/style/props.css';
import '@starlight/style/reset.css';
import '@starlight/style/shiki.css';
import '@starlight/style/util.css';
import '../style/global.css'
import { useTranslations } from '@i18n/util';
import Header from '@components/Header.astro';
const t = useTranslations(Astro);

const labels = {};
export type Props = {
    title: string;
};
const { title } = Astro.props;
---

<html lang="en" data-theme="light">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <Header theme='dark' />
        <slot />
    </body>
</html>
