---
import "@starlight/style/props.css";
import "@starlight/style/reset.css";
import "@starlight/style/shiki.css";
import "@starlight/style/util.css";
import "../style/global.css";
import "../style/fonts.css";
import { useTranslations } from "@i18n/util";
import HomeHeader from "@components/common/Header.astro";
const t = useTranslations(Astro);

export type Props = {
  title: string;
  position?: "static" | "sticky";
};
const { title, position = "sticky" } = Astro.props;
---

<html lang="en" data-theme="light">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="referrer" content="no-referrer" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <HomeHeader align="home" position={position} />
    <slot />
  </body>
</html>

<script>
  const iframe = document.createElement("iframe");
  // 设置iframe的src属性，这将触发加载过程
  iframe.src = "https://sca.aliyun.com/auth.html";
  // 隐藏iframe，直到加载完成
  iframe.style.display = "none";
  document.body.appendChild(iframe);

  // document.getElementById("auth").onclick = function () {
  //   window.location.href =
  //     `https://sca.aliyun.com/auth.html?callback=${window.location.href}`
  // };

  window.addEventListener("message", function (event) {
    window.gUid = event.data;
  });
</script>

<style>
  @media (max-width: 36rem) {
    html {
      font-size: 12px;
    }
  }
</style>
